@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');
body {
    background-color: #F2F2F2;
    font-family: 'Epilogue', sans-serif;
}

h1, h3, h5 h6 {
    margin: 0px;
}

.wrapper {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 1716px;
    width: 1440px;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header"
      "content"
      "bio"
      "footer";
}

img {
    max-width: 100%;
}

.header {
    grid-area: header;
    position: absolute;
width: 1108.85px;
height: 56px;
left: 166.15px;
top: 50px;

}

.button {
    position: absolute;
    left: 899px;
    background-color: #F2F2F2;
    border: 2px solid black;
    border-radius: 6px;
    padding: 16px;
    font-weight: 700;
}

.button:hover {
        transition-duration: 0.3s;
        background-color: hsl(219deg, 43%, 16%);
        color: white;
        border-radius: 6px;
        border: 2px solid black;
}

.content {
    grid-area: content;
}

.path {
    position: absolute;
width: 287px;
height: 36px;
left: 455px;
top: 218.68px;
bottom: 5%;

}

.heading1 {
    position: absolute;
width: 635px;
height: 156px;
left: 166px;
top: 276px;
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 78px;
letter-spacing: -1px;
color: #172339;

}

.quote1 {
    position: absolute;
width: 350px;
height: 96px;
left: 166px;
top: 472px;
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0.1px;
color: #49566D;

}

.button1 {
    position: absolute;
height: 32px;
left: 12.5%;
right: 12.11%;
top: 650px;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 32px;
letter-spacing: -0.18px;
color: #FAF8F6;
border: 2px solid black;
background: #172339;
border-radius: 6px;
padding: 16px;
width: 256px;
text-align: center;

}

.button1:hover {
        transition-duration: 0.4s;
        background-image: linear-gradient(135deg, #a060ff, #cb30e3, #ffa84e);
        color: black;
        border-radius: 6px;
        border-color: transparent;
}

.phone {
    position: absolute;
width: 350px;
height: 600px;
left: 640px;
top: 173px;
z-index: -1;
}


.stats {
    padding: 0px;
    margin: 0px;
    position: absolute;
width: 190px;
height: 375px;
left: 1086px;
top: 279px;
}

.stats stats1 {
    position: absolute;
width: 190px;
height: 83px;
left: 1086px;
top: 279px;

}

.stats stats2 {
    position: absolute;
    width: 190px;
    height: 83px;
    left: 1086px;
    top: 425px;
}

.stats stats3 {
    position: absolute;
width: 190px;
height: 83px;
left: 1086px;
top: 571px;

}

.stats h2 {
    margin-bottom: 0%;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.5px;
color: #172339;
}

.stats h5 { 
    margin-top: 0%;
    margin-bottom: 0%;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.5px;color: #49566D;

}

.bio {
    grid-area: bio;
}

.jeremy {
    position: absolute;
width: 359.81px;
height: 589.56px;
left: 288.49px;
top: 927.44px;
}

.blur {
    position: absolute;
    z-index: -1;
width: 294px;
height: 294px;
left: 309px;
top: 1182px;
background: #DB65E2;
mix-blend-mode: normal;
opacity: 0.48;
filter: blur(135.914px);
}

.curve {
    position: absolute;
width: 64.05px;
height: 52px;
left: 748.25px;
top: 1133.15px;
border: 2px solid transparent;
}

/*.description {
    position: absolute;
    width: 350px;
    height: 369px;
    left: 801px;
    top: 1060px;
}*/

.heading2 {
    position: absolute;
    height: 56px;
    left: 850px;
    top: 1060px;
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.5px;
color: #FAF8F6;

}

.quote2 {
    position: absolute;
    top: 1120px;
    left: 850px;
    width: 350px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;
letter-spacing: 0.1px;
color: #F3EDE7;

}

.sign1 {
    position: absolute;
height: 32px;
left: 850px;
top: 1320px;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 32px;
letter-spacing: -0.18px;
color: #FAF8F6;

}

.sign2 {
    position: absolute;
left: 850px;
top: 1350px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.5px;
color: #F3EDE7;

    
}

.box {
    position: absolute;
    z-index: -2;
width: 1109px;
height: 545px;
left: 167px;
top: 972px;
background: #172339;
border-radius: 15px;
}

.footer {
    /*grid-area: footer;*/
    position: absolute;
    width: 1109px;
height: 32px;
left: 167px;
top: 1612px;
}

.footlogo {
    position: absolute;
height: 32px;
left: 0%;
right: 92.7%;
top: calc(50% - 32px/2);
font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 32px;
letter-spacing: -0.444444px;
color: #172339;
}

.foottext {
    position: absolute;
height: 32px;
left: 44.27%;
right: 44.45%;
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 32px;
text-align: center;
letter-spacing: 0.0833333px;
color: #49566D;

}

.footicons {
    position: absolute;
width: 116px;
height: 20px;
left: 993px;
top: 6px;
}

.footicons a {
    padding: 5px;

}


/*Desktop View*/
@media screen and (min-width: 1024px) {
    .wrapper {
        height: 1716px;
    width: 1440px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas:
      "header"
      "content"
      "bio"
      "footer";
    }
}
/*Tablet View*/
  @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .wrapper {
        height: 1962px;
    width: 768px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas:
      "header"
      "content"
      "bio"
      "footer";
}
/*Mobile View*/
@media screen and (max-device-width: 640px) {
    .wrapper {
        height: 2389px;
    width: 375px;
    display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-items: center;
        grid-template-areas:
          "header"
          "content"
          "bio"
          "footer";
      }


    }
